@{
    ViewBag.Title = "title";
    Layout = "../Shared/_LoginLayout.cshtml";
}
<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card">
                    <div class="card-header pt-4 pb-4 text-center bg-primary">
                        <span><img src="../../assets/images/logo.png" alt="" height="18"></span>
                    </div>
                    <div class="card-body p-4">
                        <div class="text-center w-75 m-auto">
                            <h4 class="text-dark-50 text-center mt-0 font-weight-bold">Sign In</h4>
                            <p class="text-muted mb-4">Enter your username and password to access Chill App.</p>
                        </div>
                        @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                        {
                            <form>
                                <div class="form-group">
                                    <label for="emailaddress">Username</label>
                                    <input class="form-control" type="text" id="username" name="username" required="" placeholder="Enter your username">
                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <div class="input-group input-group-merge">
                                        <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password">
                                        <div class="input-group-append" data-password="false">
                                            <div class="input-group-text">
                                                <span class="password-eye"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-0 text-center">
                                    <button class="btn btn-primary" type="submit"> Log In </button>
                                </div>
                            </form>
                        }
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p class="text-muted">
                            Don't have an account?
                            <a href="/register" class="text-muted ml-1">
                                <b>Sign Up</b>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>