@{
    ViewBag.Title = "title";
    Layout = "../Shared/_LoginLayout.cshtml";
}
<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card">
                    <div class="card-header pt-4 pb-4 text-center bg-primary">
                        <span><img src="../../assets/images/logo.png" alt="" height="18"></span>
                    </div>
                    <div class="card-body p-4">
                        <div class="text-center w-75 m-auto">
                            <h4 class="text-dark-50 text-center mt-0 font-weight-bold">Free Sign Up</h4>
                            <p class="text-muted mb-4">Don't have an account? Create your account, it takes less than a minute </p>
                            @if (ViewBag.UsernameError != null){<p>@ViewBag.UsernameError</p>}
                        </div>

                        @using (Html.BeginForm("Register","Login",FormMethod.Post))
                        {
                            <form>
                                <div class="form-group">
                                    <label>Full Name</label>
                                    <input class="form-control" type="text" id="fullname" name="fullname" placeholder="Enter your full name" required>
                                </div>
                                <div class="form-group">
                                    <label>Email address</label>
                                    <input class="form-control" type="text" id="username" name="username" required placeholder="Enter your username">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <div class="input-group input-group-merge">
                                        <input type="password" id="password" class="form-control" name="password" placeholder="Enter your password">
                                        <div class="input-group-append" data-password="false">
                                            <div class="input-group-text">
                                                <span class="password-eye"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-0 text-center">
                                    <button class="btn btn-primary" type="submit"> Sign Up </button>
                                </div>
                            </form>
                        }
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p class="text-muted">Already have account? <a href="/login" class="text-muted ml-1"><b>Log In</b></a></p>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
