@{
    ViewBag.Title = "New Task";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        <a href="/">Dasboard</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/task">Task</a>
                    </li>
                    <li class="breadcrumb-item active">New Task</li>
                </ol>
            </div>
            <h4 class="page-title">New Task</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12">
                        @using (Html.BeginForm("Create", "Task", FormMethod.Post))
                        {
                            <div class="form-group">
                                <label for="">Title</label>
                                <input type="text" id="Title" name="Title" class="form-control" placeholder="Enter Task Title">
                            </div>

                            <div class="form-group">
                                <label for="">Overview</label>
                                <textarea class="form-control" id="Descirption" name="Descirption" rows="5" placeholder="Enter Task Descirption"></textarea>
                            </div>
                            <div class="text-right">
                                <div class="btn-group mb-2 ml-2">
                                    <button type="sumbit" class="btn btn-primary btn-sm">Create</button>
                                </div>
                            </div>
                        }

                        @* <div class="form-group mb-0"> *@
                        @*     <label for="@Model.Status">Status</label> *@
                        @*     <select class="form-control select2" data-toggle="select2"> *@
                        @*         <option>Select</option> *@
                        @*         <option value="AZ">Mary Scott</option> *@
                        @*         <option value="CO">Holly Campbell</option> *@
                        @*         <option value="ID">Beatrice Mills</option> *@
                        @*         <option value="MT">Melinda Gills</option> *@
                        @*         <option value="NE">Linda Garza</option> *@
                        @*         <option value="NM">Randy Ortez</option> *@
                        @*         <option value="ND">Lorene Block</option> *@
                        @*         <option value="UT">Mike Baker</option> *@
                        @*     </select> *@
                        @* </div> *@
                    </div> <!-- end col-->
                </div>
            </div> <!-- end card-body -->
        </div> <!-- end card-->
    </div> <!-- end col-->
</div>
<!-- end row-->