@model ChillApp.Models.Entites.Task

@{
    ViewBag.Title = "title";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        <a href="/">Dasboard</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/task">Task</a>
                    </li>
                    <li class="breadcrumb-item active">Task Edit</li>
                </ol>
            </div>
            <h4 class="page-title">Task Edit</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12">
                        @using (Html.BeginForm("Edit", "Task", FormMethod.Post))
                        {
                            <div class="form-group">
                                <label for="">Title</label>
                                <input type="text" id="Title" name="Title" value="@Model.Title" class="form-control" placeholder="Enter Task Title">
                            </div>

                            <div class="form-group">
                                <label for="">Overview</label>
                                <textarea class="form-control" id="Descirption" name="Descirption" rows="5" placeholder="Enter Task Descirption">@Model.Descirption</textarea>
                            </div>

                            <div class="form-group"> 
                                <label for="@Model.Status">Status</label>
                                @Html.DropDownList("StatusId", null, htmlAttributes: new {@class = "form-control"})
                            </div>
                            
                            <div class="text-right">
                                <div class="btn-group mb-2 ml-2">
                                    <button type="sumbit" class="btn btn-warning btn-sm">Edit</button>
                                </div>
                            </div>
                        }

                      
                    </div> <!-- end col-->
                </div>
            </div> <!-- end card-body -->
        </div> <!-- end card-->
    </div> <!-- end col-->
</div>
