@model ChillApp.Models.Dto.TaskStatusModel
@{
    ViewBag.Title = "Task List";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Task List</h4>
        </div>
    </div>
</div>

<div class="row">
<div class="col-12">
<div class="board">

@foreach (var status in Model.Status)
{
    <div class="tasks">
    <h5 class="mt-0 task-header">@status.Name (@Model.Task.Count(x => x.StatusId==status.Id))</h5>
    <div id="task-list-one" class="task-list-items">

       @foreach (var task in Model.Task.Where(x => x.StatusId == status.Id))
       {
            <div class="card mb-0">
            <div class="card-body p-3">
                <small class="float-right text-muted">@task.CreatedDate.ToString("dd MMMM, yyyy")</small>
                @* TODO status tablosundaki renge olucak ve task tablosuna tag diye prop eklenecek*@
                @* <span class="badge badge-danger">High</span> *@

                <h5 class="mt-2 mb-2">
                    <a href="#" data-toggle="modal" data-target="#task-detail-modal" class="text-body">@task.Title</a>
                </h5>


                <div class="dropdown float-right">
                    <a href="#" class="dropdown-toggle text-muted arrow-none" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical font-18"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="/task-edit/@task.Id" class="dropdown-item"><i class="mdi mdi-pencil mr-1"></i>Edit</a>
                        <a href="/task-delete/@task.Id" class="dropdown-item"><i class="mdi mdi-delete mr-1"></i>Delete</a>
                        <a href="/next-step/@task.Id" class="dropdown-item"><i class="mdi mdi-exit-to-app mr-1"></i>Next Step</a>
                    </div>
                </div>
                <p class="mb-0">
                    <span class="align-middle">@task.User.Fullname</span>
                </p>
            </div> <!-- end card-body -->
        </div>
       }
        

    </div> <!-- end company-list-1-->
</div>
}


</div> <!-- end .board-->
</div> <!-- end col -->
</div>